spring:
  datasource:
    url: jdbc:h2:file:./data/expenses
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

  h2:
    console:
      enabled: true
      path: /h2

server:
  port: 8080
